<div class="register-container">
  <div class="loader-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <form
    style="width: 50%; margin: auto"
    [ngStyle.xs]="{ width: '90%' }"
    [formGroup]="registerForm"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field appearance="outline" style="width: 40%">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required />
      <mat-error
        *ngIf="
          registerForm.controls['name'].touched &&
          registerForm.controls['name'].hasError('required')
        "
      >
        This is a required field
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 40%">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error
        *ngIf="
          registerForm.controls['email'].touched &&
          (registerForm.controls['email'].hasError('required') ||
            registerForm.controls['email'].hasError('email'))
        "
      >
        Please enter a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 40%">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        required
      />
      <mat-icon style="cursor: 'pointer'" matSuffix (click)="showPassword = !showPassword">{{
        showPassword ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error
        *ngIf="
          registerForm.controls['password'].touched &&
          registerForm.controls['password'].hasError('required')
        "
      >
        This is a required field
      </mat-error>
    </mat-form-field>
    <div>
      <button
        [disabled]="registerForm.invalid"
        mat-flat-button
        color="primary"
        (click)="register()"
      >
        Register
      </button>
    </div>
  </form>
</div>
